@charset "UTF-8";
 
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide {
  display: none !important;
}
 
ng\:form {
  display: block;
}


@font-face {
  font-family: 'RobotoLight';
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Roboto-Light.ttf');
}

@font-face {
  font-family: 'RobotoMedium';
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Roboto-Medium.ttf');
}
@font-face {
  font-family: 'RobotoThin';
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Roboto-Thin.ttf');
}
@font-face {
  font-family: 'RobotoThinItalic';
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Roboto-ThinItalic.ttf');
}
@font-face {
  font-family: 'RobotoCondensedLight';
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/RobotoCondensed-Light.ttf');
}

header h1{
   font-family: 'RobotoThin';
   font-size: 50pt;
}

header {
    text-align: center;
}



.windows8 .wBall .wInnerBall{
      background: #000;
}

h2 {
    font-family: 'RobotoThinItalic';
    font-size: 22pt;
}

#first-time-content {
    text-align: center;
}

#login-form {
    font-family: 'RobotoThin';
    margin-left: 25%;
}

#login-form-error {
    color: red;
    font-size: 20pt;
    font-family: 'RobotoMedium';
}

#login-loader {
  width: 35px;
  margin: 0 auto;
  margin-top:20px;
}

.wallet {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #72AFBA;
}

.wallet a {
  color: #0E3133;
  font-size: 70pt;
  font-family: 'RobotoCondensedLight';
}

.wallet .funds {
  text-align: center;
  margin-top: 15%;
}

/* pure buttons */
.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}